/* FONTS *****************************************/

@font-face {
  font-family: Teko;
  src: url(fonts/Teko/Teko-Bold.ttf);
}

@font-face {
  font-family: Teko2;
  src: url(fonts/Teko/Teko-Bold.ttf);
}

/*******************************/
body{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(red,yellow );
}
h1 {
  font-family: Teko;
  font-size: 50px;
  text-align: center;
  color:#FFF;
  text-decoration: overline;
  text-transform: full-width;
  text-shadow: 5px 7.5px 10px #000;
}

h2 {
  font-family: Teko;
  font-size: 40px;
  color: #FFF;
}

h3 {
  font-family: Teko;
  font-size: 40px;
  color: #FFF;
}

h4 {
  font-family: Teko;
  font-size: 40px;
  color:#FFF;
}

h5 {
  font-family: Teko;
  font-size: 40px;
  color:#FFF;
}

h6 {
  font-family: Teko;
  font-size: 40px;
  color:#FFF;
}
#container{
position: relative;
top: 100px;
width: 500px;
}

#hero-image {
  display: flex;
  justify-content: center;
  }

  #hero-image img {
    width: 450px;
    height: 250px;
  }

#content-box{
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
  background: #4d4d4d;
  box-shadow: 10px 10px 5px #000;
}


#slider {
    overflow: hidden;
    padding-top: 5px;

}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }
  25% {
      left: -100%;
  }
  45% {
      left: -100%;
  }
  50% {
      left: -200%;
  }
  70%{
      left: -200%;
  }
  75% {
      left: -300%;
  }
  95% {
      left: -300%;
  }
  100% {
      left: -400%;
  }
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
ul {
position: relative;
margin: 25px;
list-style-type: none;
padding: 0px;
display: flex;
justify-content: center;
}

li {
  margin: 10px;
}

a {
  font-family: Teko2;
  font-size: 18px;
  text-decoration:line-through;
 color: #FFF;
  padding: 5px;
  text-shadow: 3px 7.5px 10px #000;

}

a:hover{
  background: #000;
  color: #FFF;
}
